<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0, maximum-scale=1">
    <link href="/public/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="http://gmpg.org/xfn/11" rel="profile">

    <title>
      {% if page.title %}{{ page.title }} &middot; {% endif %}
      {{ site.tagline }}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/hyde.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700|Abril+Fatface">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/images/touch-icon-144-precomposed.png">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  </head>
  <body>

    <header class="masthead">
      <div class="masthead-inner">
        <h1><a href="/" style="font-weight:normal">/dev/null</a></h1>
        <p class="lead">Things you really don't need to know. Made by <a href="https://twitter.com/bierchn" target="_blank">Martin Biermann (@bierchn)</a>.</p>
        <p></p>
        <p>Software Engineer @ <a href="http://trademob.com">Trademob</a></p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="https://github.com/mbiermann">GitHub</a>
            </li>
            <li>
              <a href="https://de.linkedin.com/in/mabierma">LinkedIn</a>
            </li>
          </ul>
          <p>&copy; 2013. {{ site.author.name }}. All rights reserved.</p>
	  <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
        </div>

      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
